---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} by {{ post.author }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
    <div class="previous">
      <a href="{{ paginator.previous_page_path }}">«previous</a>
    </div>
    {% endif %}
    {% if paginator.next_page %}
    <div class="next">
      <a href="{{ paginator.next_page_path }}">next»</a>
    </div>
    {% endif %}
  </div>

</div>
<!-- rebuild -->
