<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><i class="fa fa-envelope"></i> itrascastro at gmail.com</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><i class="fa fa-github-alt"></i> <a href="https://github.com/itrascastro">GitHub</a></li>
          <li><i class="fa fa-twitter"></i> <a href="https://twitter.com/itrascastro">Twitter</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          <li><i class="fa fa-youtube-play"></i> <a href="https://www.youtube.com/user/ismael3334">YouTube</a></li>
          <li><i class="fa fa-stack-overflow"></i> <a href="http://stackoverflow.com/users/2113231/itrascastro">stackoverflow</a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>
