<ul>
    <li><a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url | prepend: site.url }}" rel="nofollow" target="_blank" title="Share on Twitter">
            <i class="fa fa-twitter-square"></i>
    </a></li>



    <li><a href="http://www.linkedin.com/shareArticle?url={{ page.url | prepend: site.url }}&title={{ page.title }}" rel="nofollow" target="_blank" title="Share on LinkedIn">
            <i class="fa fa-linkedin-square"></i>
    </a></li>



    <li><a href="https://facebook.com/sharer.php?u={{ page.url | prepend: site.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
            <i class="fa fa-facebook-square"></i>
    </a></li>



    <li><a href="https://plus.google.com/share?url={{ page.url | prepend: site.url }}" rel="nofollow" target="_blank" title="Share on Google+">
            <i class="fa fa-google-plus-square"></i>
    </a></li>



    <li><a href="http://reddit.com/submit?url={{ page.url | prepend: site.url }}&title={{ page.title }}" rel="nofollow" target="_blank" title="Share on Reddit">
            <i class="fa fa-reddit-square"></i>
    </a></li>

</ul>
